<div class="container-sm d-flex flex-column justify-content-center align-items-center vh-100">
  <h1 class="text-success">{{ title }}</h1>

  <div class="col-3">
    <label for="formGroupExampleInput" class="form-label">Insert first number:</label>
    <input type="number" class="form-control" [(ngModel)]="num1">
  </div>
  <div class="col-3">
    <label for="formGroupExampleInput2" class="form-label">Insert second number:</label>
    <input type="number" class="form-control" [(ngModel)]="num2">
  </div>

  <br>
  <br>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-dark" (click)="add()">+</button>
    <button type="button" class="btn btn-outline-dark" (click)="subtract()">-</button>
    <button type="button" class="btn btn-outline-dark" (click)="multiply()">x</button>
    <button type="button" class="btn btn-outline-dark" (click)="divide()">%</button>
  </div>

  <br>
  <br>

  <span>{{ res }}</span>
</div>
